<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Robocar launch console</title>
</head>

<script src="js/angular.min.js"></script>

<body>


    <div ng-app="myApp" ng-controller="launcherCtrl">
        <label style="font-size: 20px; font-weight: bold;">Connected Clients : </label>
        <label style="font-size: 40px; font-weight: bold;">{{ numberOfUsersConnected }}</label>

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{fullName()}}



        <script src="js/my_controller.js"></script>


        <h1>Robocar launch console</h1>
        <p>Status: {{ connectionStatus }} </p>
        
        <div ng-repeat="nodeName in nodeNames">
            <button ng-click="startScript(nodeName)">Start {{ nodeName }}</button>
            <button ng-click="stopScript(nodeName)">Stop {{ nodeName }}</button>
            <p >launch: {{ nodeStatuses[nodeName] }}</p>
        </div>

    </div>


</body>

</html>